@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
    height: 100px;
}

.logo {
    height: 100px;
    width: 100px;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 32px;
    text-decoration: none;
}

li {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    text-decoration-style: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1f2937;
    height: fit-content;
    padding: 50px;
}

.hero-container {
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.container-main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.button-main {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
}

.hero-dog {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    margin: 32px;
}

.cat {
    height: 150px;
    width: 150px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #1f2937;
    padding: 0px;

}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.subtext {
    margin: 15px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    padding: 20px;
}

.customer {
    display: flex;
    justify-content: flex-end;
}

.sign {
    background-color: #3882F6;
    margin: 64px;
    padding: 20px;
    align-items: center;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.call {
    border-color: white;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}
